### Project ###
poetry.lock
noxenv.txt
noxsettings.toml
hyperparamtuning/
*.prof

### Python ###
*.pyc
__pycache__
doc/build/*
doc/create_doc.sh
push_to_pypi.sh
.coverage
/dist
/build
*.egg-info
.nfs*
*.log
*.json
!kernel_tuner/schema/T1/1.0.0/input-schema.json
!test/test_T1_input.json
*.csv
.cache
*.ipynb_checkpoints
examples/cuda/output
deploy_key
*.mod
temp_*.*
.python-version
.nox

### Visual Studio Code ###
!.vscode/settings.json
!.vscode/extensions.json

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

.vscode
.idea