alabaster==0.7.16 ; python_version >= "3.9" and python_version < "3.15"
asttokens==3.0.0 ; python_version >= "3.9" and python_version < "3.15"
attrs==25.1.0 ; python_version >= "3.9" and python_version < "3.15"
babel==2.17.0 ; python_version >= "3.9" and python_version < "3.15"
beautifulsoup4==4.13.3 ; python_version >= "3.9" and python_version < "3.15"
bleach[css]==6.2.0 ; python_version >= "3.9" and python_version < "3.15"
certifi==2025.1.31 ; python_version >= "3.9" and python_version < "3.15"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "3.15" and implementation_name == "pypy"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.15" and sys_platform == "win32"
decorator==5.2.1 ; python_version >= "3.9" and python_version < "3.15"
defusedxml==0.7.1 ; python_version >= "3.9" and python_version < "3.15"
docutils==0.20.1 ; python_version >= "3.9" and python_version < "3.15"
dom-toml==2.0.1 ; python_version >= "3.9" and python_version < "3.15"
domdf-python-tools==3.10.0 ; python_version >= "3.9" and python_version < "3.15"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
executing==2.2.0 ; python_version >= "3.9" and python_version < "3.15"
fastjsonschema==2.21.1 ; python_version >= "3.9" and python_version < "3.15"
idna==3.10 ; python_version >= "3.9" and python_version < "3.15"
imagesize==1.4.1 ; python_version >= "3.9" and python_version < "3.15"
importlib-metadata==8.6.1 ; python_version >= "3.9" and python_version < "3.10"
iniconfig==2.0.0 ; python_version >= "3.9" and python_version < "3.15"
ipython==8.18.1 ; python_version >= "3.9" and python_version < "3.15"
jedi==0.19.2 ; python_version >= "3.9" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "3.15"
joblib==1.4.2 ; python_version >= "3.9" and python_version < "3.15"
jsonschema-specifications==2024.10.1 ; python_version >= "3.9" and python_version < "3.15"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "3.15"
jupyter-client==8.6.3 ; python_version >= "3.9" and python_version < "3.15"
jupyter-core==5.7.2 ; python_version >= "3.9" and python_version < "3.15"
jupyterlab-pygments==0.3.0 ; python_version >= "3.9" and python_version < "3.15"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "3.15"
matplotlib-inline==0.1.7 ; python_version >= "3.9" and python_version < "3.15"
mistune==3.1.2 ; python_version >= "3.9" and python_version < "3.15"
natsort==8.4.0 ; python_version >= "3.9" and python_version < "3.15"
nbclient==0.10.2 ; python_version >= "3.9" and python_version < "3.15"
nbconvert==7.16.6 ; python_version >= "3.9" and python_version < "3.15"
nbformat==5.10.4 ; python_version >= "3.9" and python_version < "3.15"
nbsphinx==0.9.7 ; python_version >= "3.9" and python_version < "3.15"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.15"
packaging==24.2 ; python_version >= "3.9" and python_version < "3.15"
pandas==2.2.3 ; python_version >= "3.9" and python_version < "3.15"
pandocfilters==1.5.1 ; python_version >= "3.9" and python_version < "3.15"
parso==0.8.4 ; python_version >= "3.9" and python_version < "3.15"
pexpect==4.9.0 ; python_version >= "3.9" and python_version < "3.15" and sys_platform != "win32"
platformdirs==4.3.6 ; python_version >= "3.9" and python_version < "3.15"
pluggy==1.5.0 ; python_version >= "3.9" and python_version < "3.15"
prompt-toolkit==3.0.50 ; python_version >= "3.9" and python_version < "3.15"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "3.15" and sys_platform != "win32"
pure-eval==0.2.3 ; python_version >= "3.9" and python_version < "3.15"
pycparser==2.22 ; python_version >= "3.9" and python_version < "3.15" and implementation_name == "pypy"
pygments==2.19.1 ; python_version >= "3.9" and python_version < "3.15"
pytest==8.3.5 ; python_version >= "3.9" and python_version < "3.15"
python-constraint2==2.1.0 ; python_version >= "3.9" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.15"
pytz==2025.1 ; python_version >= "3.9" and python_version < "3.15"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.9" and python_version < "3.15"
pyzmq==26.2.1 ; python_version >= "3.9" and python_version < "3.15"
referencing==0.36.2 ; python_version >= "3.9" and python_version < "3.15"
requests==2.32.4 ; python_version >= "3.9" and python_version < "3.15"
rpds-py==0.23.1 ; python_version >= "3.9" and python_version < "3.15"
scikit-learn==1.6.1 ; python_version >= "3.9" and python_version < "3.15"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.9" and python_version < "3.15"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_version < "3.15"
soupsieve==2.6 ; python_version >= "3.9" and python_version < "3.15"
sphinx-pyproject==0.3.0 ; python_version >= "3.9" and python_version < "3.15"
sphinx-rtd-theme==2.0.0 ; python_version >= "3.9" and python_version < "3.15"
sphinx==7.4.7 ; python_version >= "3.9" and python_version < "3.15"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.9" and python_version < "3.15"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.9" and python_version < "3.15"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.9" and python_version < "3.15"
sphinxcontrib-jquery==4.1 ; python_version >= "3.9" and python_version < "3.15"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_version < "3.15"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.9" and python_version < "3.15"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.9" and python_version < "3.15"
stack-data==0.6.3 ; python_version >= "3.9" and python_version < "3.15"
threadpoolctl==3.5.0 ; python_version >= "3.9" and python_version < "3.15"
tinycss2==1.4.0 ; python_version >= "3.9" and python_version < "3.15"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.15"
tornado==6.5.1 ; python_version >= "3.9" and python_version < "3.15"
traitlets==5.14.3 ; python_version >= "3.9" and python_version < "3.15"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.15"
tzdata==2025.1 ; python_version >= "3.9" and python_version < "3.15"
urllib3==2.5.0 ; python_version >= "3.9" and python_version < "3.15"
wcwidth==0.2.13 ; python_version >= "3.9" and python_version < "3.15"
webencodings==0.5.1 ; python_version >= "3.9" and python_version < "3.15"
xmltodict==0.14.2 ; python_version >= "3.9" and python_version < "3.15"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.10"
