alabaster==0.7.16 ; python_version >= "3.10" and python_version < "3.14"
asttokens==2.4.1 ; python_version >= "3.10" and python_version < "3.14"
attrs==24.2.0 ; python_version >= "3.10" and python_version < "3.14"
babel==2.16.0 ; python_version >= "3.10" and python_version < "3.14"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "3.14"
bleach==6.2.0 ; python_version >= "3.10" and python_version < "3.14"
certifi==2024.8.30 ; python_version >= "3.10" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.14" and implementation_name == "pypy"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.14"
docutils==0.20.1 ; python_version >= "3.10" and python_version < "3.14"
dom-toml==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
domdf-python-tools==3.9.0 ; python_version >= "3.10" and python_version < "3.14"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
executing==2.1.0 ; python_version >= "3.10" and python_version < "3.14"
fastjsonschema==2.20.0 ; python_version >= "3.10" and python_version < "3.14"
idna==3.10 ; python_version >= "3.10" and python_version < "3.14"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "3.14"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
ipython==8.18.1 ; python_version >= "3.10" and python_version < "3.14"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "3.14"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "3.14"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.14"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_version < "3.14"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "3.14"
jupyter-client==8.6.3 ; python_version >= "3.10" and python_version < "3.14"
jupyter-core==5.7.2 ; python_version >= "3.10" and python_version < "3.14"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.14"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "3.14"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "3.14"
mistune==3.0.2 ; python_version >= "3.10" and python_version < "3.14"
natsort==8.4.0 ; python_version >= "3.10" and python_version < "3.14"
nbclient==0.10.0 ; python_version >= "3.10" and python_version < "3.14"
nbconvert==7.16.4 ; python_version >= "3.10" and python_version < "3.14"
nbformat==5.10.4 ; python_version >= "3.10" and python_version < "3.14"
nbsphinx==0.9.5 ; python_version >= "3.10" and python_version < "3.14"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.14"
packaging==24.1 ; python_version >= "3.10" and python_version < "3.14"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "3.14"
pandocfilters==1.5.1 ; python_version >= "3.10" and python_version < "3.14"
parso==0.8.4 ; python_version >= "3.10" and python_version < "3.14"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform != "win32"
platformdirs==4.3.6 ; python_version >= "3.10" and python_version < "3.14"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.14"
prompt-toolkit==3.0.48 ; python_version >= "3.10" and python_version < "3.14"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform != "win32"
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.14" and implementation_name == "pypy"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "3.14"
pytest==8.3.3 ; python_version >= "3.10" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.14"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.14"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.14"
pyzmq==26.2.0 ; python_version >= "3.10" and python_version < "3.14"
referencing==0.35.1 ; python_version >= "3.10" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.14"
rpds-py==0.20.1 ; python_version >= "3.10" and python_version < "3.14"
scikit-learn==1.5.2 ; python_version >= "3.10" and python_version < "3.14"
scipy==1.13.1 ; python_version >= "3.10" and python_version < "3.14"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.14"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "3.14"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "3.14"
sphinx-pyproject==0.3.0 ; python_version >= "3.10" and python_version < "3.14"
sphinx-rtd-theme==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
sphinx==7.4.7 ; python_version >= "3.10" and python_version < "3.14"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.10" and python_version < "3.14"
sphinxcontrib-jquery==4.1 ; python_version >= "3.10" and python_version < "3.14"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "3.14"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.14"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "3.14"
tinycss2==1.4.0 ; python_version >= "3.10" and python_version < "3.14"
tomli==2.0.2 ; python_version >= "3.10" and python_version < "3.14"
tornado==6.4.1 ; python_version >= "3.10" and python_version < "3.14"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.14"
tzdata==2024.2 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "3.14"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.14"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.14"
xmltodict==0.14.2 ; python_version >= "3.10" and python_version < "3.14"
